@model IEnumerable<SearchAndSaveRecipes.Models.Recipe>

@{
    ViewBag.Title = "DisplayRecipes";
}

<h2>DisplayRecipes</h2>
<h3>Page @Session["page"]</h3>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ImageURL)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.ImageURL)*@
            <img src="@item.ImageURL" height="100" /> 
        </td>
        <td>
            <a href="@Html.DisplayFor(modelItem => item.RecipeURL)" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredients)
        </td>
        <td>
            @Html.ActionLink("Add to Favorites", "Add", new { id = item.ID }) |
        </td>
    </tr>
}

</table>

<form action="~/Home/DisplayRecipes">
    <input type="submit" value="Next Page" />
</form>
