@model IEnumerable<SearchAndSaveRecipes.Models.Recipe>
@using SearchAndSaveRecipes.Models

@{

    ViewBag.Title = "DisplayRecipes";
    Search search = (Search) Session["Search"];
}

<h2>Here Are Your Recipes! - Page @search.Page</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th></th>
    </tr>


@foreach (var item in Model)
{
    <tr>
        <td>
            @{ if (item.ImageURL == "")
                {
                    <a href="@Html.DisplayFor(modelItem => item.RecipeURL)" target="_blank"><img src="https://www.bbcgoodfood.com/sites/all/themes/bbcw_goodfood/images/dummy-content/memberRecipeNoImage.png" height="100" /> </a>
                }
                else
                {
                    <a href="@Html.DisplayFor(modelItem => item.RecipeURL)" target="_blank"><img src="@item.ImageURL" height="100" /> </a>
                    }
                }
            </td>
        <td>
            <a href="@Html.DisplayFor(modelItem => item.RecipeURL)" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredients)
        </td>
        <td>
            <form action="~/Home/AddFavorite">
                <input type="submit" value="Save To Favorites" />
                <input type="hidden" value="@item.Title" name="itemTitle"/>
                <input type="hidden" value="@item.RecipeURL" name="itemRecipeURL"/>
                <input type="hidden" value="@item.Ingredients" name="itemIngredients"/>
                <input type="hidden" value="@item.ImageURL" name="itemImageURL"/>
            </form>
        </td>
    </tr>
}

</table>

@{ 
    var myList = Model.ToList();
    int count = myList.Count();

    if (count == 10)
    {
        <form action="~/Home/DisplayRecipes">

        <input type="submit" value="Next Page" />
        </form>
     
    }

}


