@model SearchAndSaveRecipes.Models.Recipe

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this recipe?</h3>
<img src="@Model.ImageURL" />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        

        <dt>
        </dt>

        <dd>
            <img src="@Model.ImageURL" height="100" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <form action="~/Recipes/DisplayFavorites">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "DisplayFavorites")
            </div>
        </form>
    }
</div>
